<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Watchers</title>

    <!--Vue CDN-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>

    <div id="app">
        <input type="text" v-model="searchQuery">

        <p v-if="isSearching"></p>

        <div v-else>
            <ol>
                <li v-for="result in results">{{ result }}</li>
            </ol>
        </div>

        <!--Movies-->
        <ol>
            <li v-for="movie in formattedMovies">{{ movie }}</li>
        </ol>

        <button v-on:click="addMovie">Add Movie</button>

        <h1>{{ message | uppercase(true) }}</h1>
        <p v-bind:title="message | uwfirst">{{ message }}</p>
        <p>{{ message | uwfirst | removeSpaces }}</p>
    </div>

</body>

<script type="text/javascript" src="watchers-and-filters.js"></script>

</html>